{% extends 'easyNAS/base.html' %}
{% load staticfiles %}

{% block extra_css %}
  <link href="{% static 'authentication/css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
  <form class="form-signin" action="{% url 'authenticate' %}" method="post">
    {% csrf_token %}
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button id="loginSubmit" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    {% if error_message %}
    <div class="alert alert-danger">
      {{ error_message }}
    </div>
    {% endif %}
  </form>
{% endblock %}