{% extends 'easyNAS/base.html' %}
{% load staticfiles %}

{% block extra_css %}
  <link href="{% static 'authentication/css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button id="loginSubmit" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <div class="alert alert-danger">
      There was an error with your E-Mail/Password combination. Please try again.
    </div>
  </form>
  <script>
    var login_url = "{% url 'authenticate' %}"
    var dashboard_url = "{% url 'nas_home' %}"
  </script>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'authentication/js/login.js' %}"></script>
{% endblock %}