{% load common_tags %}
<div>
	<a href='{% url "dashboard_home" %}'><span class="glyphicon glyphicon-folder-open"></span></a>
  {% for path, folder in folders %}
  	<a href='{% url "folder_contents" %}?path={{ path|urlencode }}'>{{folder}}</a> /
  {% endfor %}
</div>
<ul>
{% with folder_contents.files.parent as parent %}
{% for file in folder_contents.files.children %}
	{% if file.is_dir %}
		{% with parent|add:"/"|add:file.filename as folder_path %}
		<a href='{% url "folder_contents" %}?path={{ folder_path|urlencode }}'>
			<li class="folder"><span class="glyphicon glyphicon-folder-close">{{ file.filename }}</span></li>
		</a>
		{% endwith %}
	{% else %}
		<li class="file"><span class="glyphicon glyphicon-file">{{ file.filename }}</span></li>
	{% endif %}
{% endfor %}
{% endwith %}
</ul>
